@model WebBanHang.Context.User
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top: 225px"></div>
<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "Users", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Tạo tài khoản mới</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Họ</label>
                        @Html.TextBoxFor(m => m.FirstName, "", new { @class = "form-control", @placeholder = "Họ" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Tên</label>
                        @Html.TextBoxFor(m => m.LastName, "", new { @class = "form-control", @placeholder = "Tên" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "badge badge-danger" })

                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Email</label>
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Mật khẩu</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Xác nhận mật khẩu</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block" value="Đăng ký tài khoản mới" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>


